.topbar {
  height: 60px;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(82, 1, 1, 0.932);
  overflow-y: hidden;
}

.topbar-nav {
  max-width: 800px;
  margin: auto;
}

.topbar a, .dropdown-btn {
  padding: 20px 8px;
  text-decoration: none;
  font-size: 20px;
  line-height: 20px;
  color: #fce0a4;
  display: block;
  border: none;
  background: none;
  float: left;
  text-align: left;
  cursor: pointer;
  outline: none;
}

.topbar a:hover, .dropdown-btn:hover {
  color: #fffdfd;
}

.main {
  margin-left: 200px; 
  font-size: 20px; 
  padding: 0px 10px;

}

.active {
  background-color: rgb(56, 0, 0);
  color: rgb(255, 255, 255);
}

.dropdown-container {
  display: none;
  padding-left: 8px;
  position: fixed;
  top: 60px;
  max-width: 128px;
}

.dropdown-container a {
  left: 60px;
  position: relative;
  width: 100%;
  background-color: rgb(49, 0, 0);
}

.fa-caret-down {
  float: right;
  padding-right: 8px;
}

@media screen and (max-height: 450px) {
}

.title {
  color: rgb(250, 235, 215);
  background-color: rgb(0, 0, 0);

  margin-left: 150px; 
  margin-right: 500px;
  margin-top: 60px;

  padding: 20px 200px;
  font-size: 50px;
}

.subtitle {
  color: #e49c00;

  margin-left: 50px; 
  padding: 20px;
  font-style: italic;
  font-family: "Courier New", monospace;

  font-size: 40px; 
}

.generalLight {
  color: #272727;

  font-family: "Courier New", monospace;

  font-size: 27px; 
}
.generalDark {
  color: #ffffff;

  font-family: "Courier New", monospace;

  font-size: 27px; 
}

body {
  background-color: rgb(49, 0, 0);
  font-family: georgia;
}

#container{
  min-height: 100vh;
}

.titleBack{
  height: 30vh;
  width : 200vh;
  margin-bottom: 120px;

  background-color: rgb(41, 0, 0);
}

.top{
  height: 40vh;
  width : 156vh;
  background-color: rgb(250, 235, 215);

}
.bottom{
  height: 40vh;
  float: right;
  width : 156vh;

  background-color: rgb(0, 0, 0);
}